body {
   background-image: url("/img/allpage/background.png");
 }

 .tittle{
  margin: 30px;
  text-align: center;
  font-size: 1.8em;

}

 .slide_box {
 	width: 100%;
 	margin: 0 auto;
 	height: 500px;
 }

.slide_box p {
 	font-size: 1.0em;
 	margin-top: 20px;
 	text-align: center;
 }

.slide_box .question {
 	width: 100%;
 	margin: 0 auto;
 	position: absolute;
 	top: 30%;
 	font-size: 1.5em;
 	padding: 20px;
 	text-align: center;
 }

.slide_box .question .question-text {
 	width: 50%;
 	margin: 0 auto;
 	font-size: 0.8em;
 }

.slide_box .question textarea {
 	margin-top: 10px;
 }

.slide_box .allergies {
 	width: 90%;
 	margin: 0 3% 0 7%;
 	padding: 0;
 }

.slide_box .allergies::after {
 	display: block;
 	content: '';
 	clear: both;
 }

.slide_box .allergies p {
 	width: 12%;
 	padding: 0;
 	margin: 0 auto;
 	font-size: 0.6em;
 	float: left;
 	text-align: left;
 }

 .slide_box .submit {
 	width: 20%;
 	padding: 15px;
 	margin: 0 auto;
 	position: absolute;
 	top: 80%;
 	right: 35%;
 	color: #000;
 	font-size: 1.4em;
 	font-family: 'meirio','メイリオ',sans-serif;
 	text-align: center;
 	margin-top: -16px;
 	border-radius: 5px;
 	border: 1px solid #c0c0c0;
 	background-color: #f5f5f5;
 	box-shadow: 0 2px 0 #a9a9a9;
 	transition: all 0.3s;
 }

.slide_box .submit:hover {
 	background-color: rgba(0, 0, 0, 0.2);
 }

 .button {
 	width: 30%;
 	margin: 90px auto;
 	text-align: center;
 	border-radius: 20px;
 }

 .button a {
 	display: block;
 	text-decoration: none;
 	border-radius: 20px;
 	border: 4px solid #ff8c00;
 	font-size: 1.3em;
 	color: red;
 	padding: 40px 70px;
 	transition: all 0.3s;
 }

.button a:hover {
 	color: #000;
 	background-color: orange;
 }
