<h1><Center>今日の献立を考えます</Center></h1>
<!--
<p>Find me in app/views/manu_pages/menu.html.erb</p>

-->

<Center>


<%= form_tag('question',method: "get") do %>

<!-- アレルギーの有無を聞く -->
  <h4>アレルギーはありますか？</h4>
  <p>

<% @allergie.each.with_index(1) do |set| %>
  <%= check_box_tag('allergy[]',set.id,(set == params[:allergy])) %>
  <%= label_tag 'allergy',set.aname %>
<% end %>


<!-- ラジオボタン未選択時にエラーメッセージを表示 -->
<% flash.each do |message_type, message| %>
<div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>


<!-- フォームボタンなど -->
<p>
  <%= submit_tag "次", name: "check" %>
<% end %>
<%= link_to (button_tag "ホームへ戻る"),
 {:controller => "static_pages" ,:action => "home"},
 {:class => "btn"} %>
</p>



</Center>

<%= render 'layouts/footer' %>
